:root {
  --color-primary: #39246B;
  --color-secondary: #FFC107;
  --color-dark: #1F1F1F;
  --color-light: #FFFFFF;
  --color-gray: #EDEDED;
  --radius-default: 4px;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}
